<!DOCTYPE html>
<html lang="en">
<head>
		<% include ../../layout/admin/header  %>
	<title>文章列表</title>
</head>
<body class="gray-bg">
	<div class="container wrapper wrapper-content animated fadeInRight">
		<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title">文章</h3>
				</div>
				<div class="panel-body">
					<a class="btn btn-danger" href="/admin/articleList/add">新增</a>
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>序号</th>
								<th>标题</th>
								<th>作者</th>
								<th>图片</th>
								<th>浏览量</th>
								<th>创建时间</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<% list.forEach(function(item,index){%>
								<tr>
									<td><%= index+1 %></td>
									<td><a target="_blank" href="/goods/showArticle?id=<%= item.id %>"><%= item.title %></a></td>
									<td><%= item.author %></td>
									<td><img style="width:60px;max-height:60px;" src="<%= item.img %>"/></td>
									<td><%= item.visit %></td>
									<td><%= moment(item.created_at).format('YYYY-MM-DD HH:MM')%></td>
									<td>
										<a href="/admin/articleList/editor?id=<%= item.id %>"><i class="btn btn-primary btn-sm fa fa-edit"></i></a>
										<a onclick="delArticle('<%= item.id %>')"><i class="btn btn-danger btn-sm fa fa-remove"></i></a>
									</td>
								</tr>
							<%}) %>
						</tbody>
					</table>
				</div>
		</div>
	</div>
	<% include ../../layout/admin/footer  %>
	<form method="post" id="delArticle" style="display:none;" action="/admin/articleList/delete">
		<input type="text" name="id" id="delArticleID">
	</form>
	<script>
		function delArticle(id){
			confirm('是否删除选中的信息?',function(){
				$('#delArticleID').val(id);
				$('#delArticle').submit();
			})
		}
	</script>
</body>
</html>